@import "global";

.mainContainer {
  width: 100%;
  max-width: 1200px;
  min-width: 310px;
  margin: auto;
  font-size: 1em;

  .secondWrapper {
    padding: 0 20px;
    @media screen and (max-width: $small) {
      padding: 0 10px;
    }
  }

  color: $cl-main;

  .logo {
    width: 100%;
    margin: 36px 0;

    svg {
      height: 86px;
    }

    @media screen and (max-width: $medium) {
      margin: 20px 0;
      svg {
        width: 100px;
      }
    }
  }

  .main {

    margin-top: 20%;
    transition: margin-top 1s ease;

    h1 {
      font-size: 3.2em;
      text-align: center;
    }

    p {
      color: $cl-second;
      font-size: 1.5em;
      text-align: center;
      margin-bottom: 50px;
    }

    .form {
      display: flex;
      justify-content: center;
      position: relative;

      .search {
        left: 7%;
        top: 50%;
        transform: translateY(-50%);
        margin: auto;
        position: absolute;
      }

      .loader {
        display: none;
        position: absolute;
        top: 16%;
        right: 7%;
        transform: translateY(-50%);
        border: 5px solid rgba(0,0,0, 0);
        border-radius: 50%;
        border-top: 5px solid #FFF;
        width: 20px;
        height: 20px;
        -webkit-animation: spin 1s linear infinite; /* Safari */
        animation: spin 1s linear infinite;

        &.loading {
          display: block;
        }

        @-webkit-keyframes spin {
          0% { -webkit-transform: rotate(0deg); }
          100% { -webkit-transform: rotate(360deg); }
        }

        @keyframes spin {
          0% { transform: rotate(0deg); }
          100% { transform: rotate(360deg); }
        }
      }

      input {
        width: 70%;
        height: 45px;
        border-radius: 20px;
        background-color: $cl-inactive;
        border: none;
        color: white;
        padding: 0 10%;
        font-size: 1em;
        font-family: 'Outfit', sans-serif;
        transition: background-color 1s ease;

        &::placeholder {
          color: white;
          font-family: 'Outfit', sans-serif;
        }

        &:focus {
          outline-color: $cl-second;
        }
      }
    }

    @media screen and (max-width: $medium) {
      font-size: 0.7em;
      .search {
        left: 8% !important;
        svg {
          width: 17px;
        }
      }
    }
  }

  .section {
    margin: 80px auto;

    h2 {
      font-size: 2em;
      margin-top: 0;
    }

    @media screen and (max-width: $medium) {
      margin: 50px auto;

      font-size: 0.7em;
    }
  }

  .hashtags {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    gap: 10%;

    p {
      font-size: 1.5em;
      line-height: 1.5em;
    }
  }

  .images {
    h2 {
      margin-bottom: 50px;
    }

    .blocks {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;

      img {
        height: 280px;
        width: 350px;
        border-radius: 10px;
        object-fit: cover;

        &:hover {
          opacity: 0.9;
        }
      }
    }
  }

  .graph {
    margin-bottom: 100px;
    width: 100%;
  }

  .nope {
    text-align: center;
    font-size: 1em;
    color: $cl-inactive;
  }

}
